body{
    background-color: lightcyan;
}
h1{
    font-size: 30px;
    color: saddlebrown;
}
h2{
    color: blue;
    font-size: 60px;
}
.class
{
    font: bold;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: navy;
}
h1 span{
    color: violet;
}