body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    background-color: rgb(255, 85, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
header img{
    border-radius: 150px;
    width: 300px;
    border: 20px solid white
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main p{
    text-align: left;
}
main img{
    max-width: 100%;
}
h2{
    text-align: center;
}
a{
    color: black;
}
a:hover{
    color: blanchedalmond;
    background-color: blue;
}

footer{
    background-color: rgb(255, 85, 0);
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    color: grey;
    font-style: italic;
    margin-top: 0;
}